.wrapper{
    margin: 2rem
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.titlecontainer{
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: lightgray;
}

.title{
    text-align: center;
    padding: 1rem;
}

.back{
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    position:absolute;
}

.welcome{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: start;
}
