@import '../../index.css';

.container{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.listinglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.listingitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border-style: solid;
    border-color: var(--color-secondary-light);
    padding: 1rem;
    max-width: 100%;
    border-width: 0.1rem;
}