@import "../../index.css";

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.messageOwn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageTop {
  display: flex;
  align-items: flex-end;
}

.messageText {
  padding: 0.7rem;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: white;
  word-break: break-all; /* Add this line */
  max-width: 100%; /* Set a maximum width */
}

.messageOwnMessageText {
  padding: 0.7rem;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  word-break: break-all; /* Add this line */
  max-width: 100%; /* Set a maximum width */
}

.messageBottom {
  font-size: x-small;
  margin-top: 0.5rem;
}


