.utilityItem{
    overflow: auto;
}

.utilitySelection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-secondary-light);
    border-radius: 15px;
    font-size: smaller;
  }
  
  .utilityItem input[type="checkbox"] {
    display: none;
  }
  
  .utilityItem input[type="checkbox"]:checked + label.utilitySelection {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
  }