.image {
  width: "100%";
  display: "block";
  cursor: "pointer";
}

.modal {
position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  background: green;
  align-items: center;
  overflow: hidden;
}

.carousel{
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.collageModal{
  
  display: flex;
  flex-direction: row;
  place-content: stretch center;
  box-sizing: border-box;
  width: 100%;
  gap: 0px;

}