.container {
  box-sizing: border-box; /* Add this */
  position: fixed;
  top: 5rem;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000; /* Ensure the modal is above other elements */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 0px 12px -3px #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem 0 2rem; /* Add padding here */
}

.headercontainer {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.back {
  position: absolute;
  left: 0;
}

.leftchevron {
  fill: white;
}

.contentcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.buttonContainer {
  position: relative;
  display: inline-block;
}

.infoIcon {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
}

.tooltip {
  background-color: var(--color-primary);
}

.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomcontainer {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 5px 1px var(--color-secondary-light);
}
