@import '../../index.css';

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.formcontainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.emailcontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

input{
    outline: none;
}

.country{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0; 
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px;
}

.phonenumber{
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem; 
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px;
}

.email{
    width: 100%;
    border-radius: 0.5rem; 
    border-width: 1px;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--color-secondary-light);
    padding: 10px;
}

.email:focus{
    border-color: var(--color-black);
    transition: ease-in-out 70ms;
}

.emailform{
    width: 100%;
    border-radius: 0.5rem; 
    border-width: 1px;
    box-sizing: border-box;
}

.text{
    color: var(--color-secondary-light);
    font-weight: 300;
    font-size: x-small;
    text-align: start;
}

.conditions{
    font-weight: 400;
    font-size: medium;
    text-align: start;
}

.button{
    background-color: var(--color-primary);
    padding: 0.5rem; 
    color: var(--color-white); 
    width: 100%; 
    border-radius: 0.5rem;
    border-width: 0;
    font-size: medium;
}

.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seperatorText{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.seperatorText::before, .seperatorText::after{
    content: "";
    height: 2px;
    background-color: gray;
    display: block;
    
}

.socialsList{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.socials{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.5rem; 
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-error);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.sadface{
    margin-left: 1rem;
    color: var(--color-error);
}

.incorrectpassword{
    flex-grow: 1;
    text-align: center;
    margin-right: 1rem;
}

.password{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.passwordchecklist{
    text-align: left;
    font-size: small;
    margin: 0;
}


.true{
    color: var(--color-pass);
}

.false{
    color: var(--color-error);
}

.hide{
    display: none;
}