@import '../../index.css';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.country{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0; 
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px;
}

.phonenumber{
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem; 
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px;
}

.email{
    width: 100%;
    border-radius: 00.5rem; 
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px;
}

.text{
    color: var(--color-secondary-light);
    font-weight: 300;
    font-size: x-small;
    text-align: start;
}

.conditions{
    font-weight: 400;
    font-size: medium;
    text-align: start;
}

.button{
    background-color: var(--color-primary);
    padding: 0.5rem; 
    color: var(--color-white); 
    width: 100%; 
    border-radius: 0.5rem;
    border-width: 0;
}