.react-horizontal-scrolling-menu--scroll-container {
    display: flex;
    height: max-content;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .react-horizontal-scrolling-menu--item > div > div:nth-child(1) {
    padding: 1rem;
    margin: 1rem;
 }

  .react-horizontal-scrolling-menu--item > div > div:nth-child(2) {
    height: 0px !important;
 }