.container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    overflow: hidden;
    padding-bottom: 6rem;
  }
  
  .carouselcontainer{
    width: 100%;
    height: 15rem;
  }
  
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    z-index: 100;
    padding: 1rem;
  }
  
  .leftchevron {
    fill: white;
  }
  
  .containerNoScroll {
    height: 100vh;
    overflow-y: hidden;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
    overflow-x: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .title {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: lightgray;
  }
  
  .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content h3 {
    font-size: medium;
    font-weight: 500;
    margin: 0;
  }
  
  .content p {
    font-weight: 200;
    margin: 0;
  }
  
  .content address {
    font-weight: 200;
    margin: 0;
  }
  