.month-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.school-year {
  display: flex;
  align-items: center;
}

.school-year button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.month-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.month-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  font-size: small;
}

.month-rectangle.selected {
  background-color: var(--color-primary);
  color: white;
}

.month-rectangle.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
