.month-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-year {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.school-year button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.school-year span {
  font-size: 1.25rem;
  font-weight: bold;
}

.month-grid-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.month-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
}

.month-rectangle.selected {
  background-color: blue;
  color: white;
}

.slide-forward-enter,
.slide-backward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-forward-enter-active,
.slide-backward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-forward-exit,
.slide-backward-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-forward-exit-active,
.slide-backward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.slide-backward-enter {
  transform: translateX(-100%);
}

.slide-backward-exit-active {
  transform: translateX(100%);
}

.month-rectangle.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
