.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button{
    background-color: var(--color-primary);
    padding: 0.5rem;
    margin: 2rem;
    color: var(--color-white);
    border-radius: 0.5rem;
    border-width: 0;
    font-size: medium;
    width: 100%;
}
  